{% load static tailwind_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
    <title>Algorithm Arena</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	
	</head>

	<body>
		{% block content %}
		{% endblock content %}
			
	</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    // Get all buttons you want to add the confirmation to
    var buttons = document.querySelectorAll(".confirm-button");

    // Add a click event listener to each button
    buttons.forEach(function (button) {
        button.addEventListener("click", function (event) {
            // Display a confirmation dialog
            var result = window.confirm("Are you sure you want to proceed?");

            // If the user confirms, the event continues; otherwise, it's canceled
            if (!result) {
                event.preventDefault(); // Prevent the default button behavior
            }
        });
    });
});
</script>