{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex flex-col justify-center items-center w-full">
    <h2 class="text-2xl font-bold mb-4">{{ homepage.title }}</h2>
    <div>
        <h1></h1>
        <article class="prose lg:prose-lg">{{ homepage.content|safe }}
        </article>
    </div>
    <div class="m-4">
        <a href="{% url 'login' %}">
            <button class="btn btn-primary">
                Login
            </button>
        </a>
    </div>
</div>

{% endblock content %}